<header class="header" id="home">
  <div class="container">
    <div class="header__top">
      <a href="#" class="header__logo-container">
        <img class="header__logo" src="../../assets/IMAGES/logo-white 4.svg" alt="company logo">
      </a>
      <a class="burger" href="#menu" (click)="toggleMenu()">
        <img src="../../assets/IMAGES/burger.svg" alt="burger menu">
      </a>
      <nav class="header__nav">
        <ul class="header__item">
          <li class="header__list">
            <a class="link link--nav" href="#">Home</a>
          </li>
          <li class="header__list">
            <a class="link link--nav" href="#">About Us</a>
          </li>
          <li class="header__list">
            <a class="link link--nav" href="#">What We Do</a>
          </li>
          <li class="header__list">
            <a class="link link--nav" href="#contact-us">Contact Us</a>
          </li>
        </ul>
      </nav>

    </div>
  <app-menu class="header__menu"></app-menu>
  </div>

  <section class="header__section">
    <div class="container">
      <div class="section">
        <div class="section__text">
          <h1 class="section__title">
            Never Caught
            <br>
            Off-Guard Again
          </h1>
          <p class="section__paragraph">
            We are specialist in protecting your assets and reputation
            to make sure you operate risk-free and focus on your core business.
          </p>
          <button class="section__btn button">
            Learn More
          </button>
        </div>
        <div>
          <img src="../../assets/IMAGES/space-helmetf 5.svg" alt="space-helmet"  class="section__image">
        </div>
      </div>
    </div>
  </section>
</header>
