

.burger {
  display: block;
  width: 30px;
  height: 19px;

  @include onPad {
    display: block;
    width: 30px;
    height: 19px;
  }

  @include onLaptop {
    display: none;
  }

  @include onDesktop {
    display: none;
  }
}
