

.burger {
  display: block;
  width: 30px;
  height: 19px;

  @include on-tablet {
    display: block;
    width: 30px;
    height: 19px;
  }

  @include on-laptop {
    display: none;
  }

  @include on-desktop {
    display: none;
  }
}
