.section {
  padding: 65px 0 0;

  @include on-tablet {
    display: flex;
    justify-content: space-between;
  }

  @include on-desktop {
    display: flex;
    justify-content: space-between;
    padding: 178px 0 0;
  }

  &__image {
    object-fit: cover;
    object-position: center;
    width: 401px;
    height: 313px;
    margin-right: 0;

    @include on-tablet {
      margin: -20px -340px 0;
      width: 564px;
      height: 442px;
    }

    @include on-laptop {
      margin: -20px -240px 0;
      width: 655px;
      height: 513px;
    }

    @include on-desktop {
      margin: -75px -340px 0;
      width: 826px;
      height: 647px;
    }
  }

  &__text {
    line-height: 160%;
    margin: 0 0 0;
    padding-top: 0;

    @include on-desktop {
      margin: 0 0 63px;
    }
  }

  &__paragraph {
    margin: 0 0 63px;
    line-height: 160%;
    width: 300px;
    margin: 0 0 30px;
    font-size: 14px;

    @include on-desktop {
      width: 560px;
      margin: 0 0 63px;
      font-size: 18px;
    }
  }

  &__title {
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    line-height: 130%;
    text-transform: uppercase;
    margin: 0 0 25px 0;
    font-size: 42px;
    text-shadow: none;

    @include on-tablet {
      margin: 0 0 33px 0;
      font-size: 55px;
    }

    @include on-desktop {
      margin: 0 0 33px -81px;
      font-size: 68px;
      text-shadow: $shadow;
    }
  }

  &__btn {
    padding: 0;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 16px;
    width: 154px;
    height: 55px;
    margin-bottom: 48px;
    font-size: 14px;
    box-shadow: none;

    @include on-desktop {
      width: 176px;
      height: 65px;
      margin-bottom: 65px;
      font-size: 18px;
      box-shadow: $shadow;
    }
  }
}
