<nav class="menu" id="menu">
  <div class="container">
    <div class="menu__top">
      <a href="#" class="menu__logo-container">
        <img class="menu__logo" src="../../assets/IMAGES/logo-white 4.svg" alt="company logo">
      </a>
      <a href="#">
        <img class="menu__cross" src="../../assets/IMAGES/cross.svg" alt="">
      </a>
    </div>
    <div class="manu__nav">
      <ul class="menu__list">
        <li class="menu__item">
          <a href="#">Home</a>
        </li>
        <li class="menu__item">
          <a href="#">What we do</a>
        </li>
        <li class="menu__item">
          <a href="#">About us</a>
        </li>
        <li class="menu__item">
          <a href="#">Our history</a>
        </li>
        <li class="menu__item">
          <a href="#contact-us">Contact us</a>
        </li>
      </ul>
      <ul class="menu__services">
        <li class="menu__title">Services</li>
        <li class="menu__item">Training and Implementation</li>
        <li class="menu__item">Cyber Consultants</li>
        <li class="menu__item">Consultancy and <br/> brand protection</li>
        <li class="menu__item">Software</li>
      </ul>
    </div>
  </div>
</nav>
