@mixin on-tablet {
  @media (min-width: 768px) {
    @content
  }
}

@mixin on-laptop {
  @media (min-width: 1024px) {
    @content
  }
}

@mixin on-desktop {
  @media (min-width: 1920px) {
    @content
  }
}
