@import '../../STYLES/UTILS/vars';
@import '../../STYLES/UTILS/mixins';
@import '../../STYLES/BLOCKS/button.scss';

.form {
  max-width: 510px;


  &__container {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    padding: 25px;

    @include onLaptop {
      padding: 60px;
    }
  }

  @include onDesktop {
    padding: 51px 60px 71px 60px;
    margin: 0 auto;
  }

  &__submit {
    padding: 0;
    width: 170px;
    height: 61px;
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
    background-color: $colorYellow;
    border: none;
    border-radius: 16px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);

    display: block;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: 16px;

    @include onDesktop {
      display: inline-block;
      font-size: 16px;
      line-height: 18px;
    }
  }

}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.contact-us__form-field {
  width: 100%;
  margin-bottom: 20px;

  @include onLaptop {
    margin-bottom: 40px;
  }
}
