<div class="navigation-container">
  <nav class="navigation">
    <ul class="navigation__list">
      <li class="navigation__item">
        <a class="navigation__link" href="#">Home</a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link" href="#">About Us</a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link" href="#">What We Do</a>
      </li>
      <li class="navigation__item navigation__item-contact">
        <a class="navigation__link" href="#contact-us">Contact Us</a>
      </li>
    </ul>
  </nav>
</div>
